.custom-toolbar img {
  max-width: 350px;
}



.css-1wxkzlj-MuiTabs-flexContainer {
  justify-content: space-between;
}

.css-2ue31k-MuiToolbar-root {
  gap: 30px;
}

.MuiTab-root:hover {
  background: #e2e2e2;
}
