/* Header.css */

/* Override AppBar styles */
.custom-appbar {
    background-color: #fff !important;
    padding: 20px 40px 0px 59px ;
    box-shadow: none ;
  }
  
  /* Logo styles */
  .custom-logo {
    width: 280px ;
  }
  
  /* Toolbar styles */
  .custom-toolbar {
    display: flex;
    justify-content: space-between !important;
    align-items: center !important;
  }
  
  /* User info styles */
  .custom-user-info {
    color: #04507e !important;
    margin-right: 20px !important;
  }
  
  /* Icon styles */
  .custom-account-icon {
    color: #00457e !important;
  }
  
  .custom-notification-icon {
    color: #00457e !important;
  }
  
  /* Tabs styles */
  .custom-tabs .MuiTabs-indicator {
    background-color: #00457e ;
    display: grid;
    grid-column: 50px;
  }
  
  .custom-tab {
    color: #00457e !important;
    font-weight: bold ;
    text-transform: uppercase;
  }
  