.profile-container {
   
    color: #5b5b5b;
    background-color: #ece8dd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    width: 100%;
   
  }
  
  .profile-details {
    margin-bottom: 20px;
  }
  
  .profile-details p {
    margin: 5px 0;
  }
  
  .password-change-container {
    margin-top: 20px;
  }
  
  .password-change-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .password-change-form input {
    margin-left: 10px;
    padding: 5px;
    border-radius: 0px !important;
  }
  
  .password-change-form button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #00457e;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0px;
  }
  
  .password-change-form button:hover {
    background-color: #003366;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  