body {
  margin: 0;
  font-family:Noto Sans Semi Condensed,Noto Sans JP,Noto Sans KR,Noto Sans SC,Noto Sans Semi Condensed Fallback,sans-serif!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
